ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
}

.toolbar {
  margin-top: 15px;
}

.toolbar-list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 40%;
}

.toolbar-list-item {
  margin-left: 10px;
}

.toolbar-btn {
  background-color: #fff;
  padding: 0.5em 1.5em;
  border: 1px solid #000;
}

.toolbar-btn.active {
  background-color: #555555;
  color: #fff;
}

.project-list {
  margin: 15px 0;
  column-count: 3;
}

.project-list-item {
  margin: 10px 0px;
}
